html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Helvetica';
  font-size: 14px;
}

body{
  margin-top: 60px;
}

/*=======================
  NavBar 
=========================*/

.NavBar {
  background-color: #ead6a2;
  box-shadow: 2px 2px 7px grey;
  text-align: center;
  font-size: 0.6rem;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}

.NavBar button {
  background-color: inherit;
  color: #757575;
  border: none;
  padding: 5px 0px 5px 0px;
}

/* Change background color of buttons on hover */
.NavBar button:hover {
  background-color: #c5bb9a;
  box-shadow: 2px 2px 7px grey;
}

/* Create an active/current "tab button" class */
.NavBar button.active {
  background-color: white;
}

.NavBar p{
  padding-top: 5px;
  margin: 0px;
}

.NavBar h1{
  padding: 15px 0px 0px 20px;
  margin: 0px;
  text-align: left;
  font-family: "Georgia";
  font-style: italic;
  font-size: 16px;
  color: #805932;
  text-shadow: 1px 1px 0px #FEFAE0;
}


/* navbar content */
.tabcontent {
  float: left;
  padding: 0px 15px;
  display: none;
}

/*=======================
  Instructions 
=========================*/

/* #instructions {
   display: block; 
} */

/*=======================
  Weights Interface 
=========================*/

#newSubmit{
  margin: 2px 0px 15px 15px;
  width: 50%;
  border: 0px;
  outline: 0px;
  border-bottom: 2px solid #ead6a2;
}

.slider{
  -webkit-appearance: none;
  border-radius: 6px;
  height: 3px;
  background: #e2e2e2;
  width: 65%;
  margin: 15px 0px 15px 30px;
  padding: 0;
  font-size: 12px;
  color: #757575;
  font-style: italic;
}

.slider::before{
  content: "Not Important";
  position: absolute;
  padding-top: 5px;
}

.slider::after{
  content: "Very Important";
  position: absolute;
  padding-top: 5px;
  padding-left: 50%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  width: 12px; 
  height: 12px;
  background: #ead6a2;
  border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
  background: #c5bb9a;
  width: 15px; 
  height: 15px;
  box-shadow: 1px 1px 5px gray;
}

.sliderValue{
  /* display: inline-block;  */
  position: relative;
  width: 35px;
  height: 25px;
  color: black;
  text-align: center;
  padding: 1px 0 0 0;
  margin: 10px 0 15px 40px;
  background-color: #ead6a2;
}

#btn{
  margin: 10px 0px 15px 80%;
  background-color: #ead6a2;
}


/*=======================
  Statistics 
=========================*/

#statistics{
  margin-left: 5px;
}

.charts{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
} 

canvas{
  padding: 0;
  margin: 0;
  width: 400px;
  height: 400px;
  display: none;
  box-sizing: none;

}

/*=======================
  Map 
=========================*/

#mapid {
  height: 90%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: rgb(0, 0, 0);
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  border:rgba(0, 0, 0, 0.2); 
  border-width:1px; 
  border-style:solid;
  opacity: 0.4
}

/*=======================
  Media Query
=========================*/

@media screen and (max-width: 768px) {
  .tabcontent {
    color: black;
  }
}
